.footer {
  background: #292929;
  height: auto;
  flex-grow: 0;
}

.footerContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
}

.copyright {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: -0.5px;

  color: #959595;
}
