.description {
  display: flex;
}

.title {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: -0.5px;

  color: #dedede;
}

.subtitle {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.5px;

  color: #959595;
}

.portrait {
}
