.navigation {
  display: flex;
  align-items: center;
}

.navigationLink {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.5px;
  color: #dedede;
  margin-left: 60px;
}
