.header {
  background: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(20px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.headerContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}
