.btn {
  display: flex;
  align-items: center;

  padding: 16px 32px;

  width: 186px;
  height: 48px;

  background: #0095b7;
  border-radius: 8px;
  color: #ffffff;
}

.downloadIcon {
  margin-right: 10px;
}
